@model IEnumerable<PracticaCampoFinal.Models.Producto>

<h2>Productos</h2>

<a asp-action="Create" class="btn btn-primary">Nuevo Producto</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Name_Producto</td>
            <td>@item.Descripcion_Producto</td>
            <td>@item.Cantidad_Producto</td>
            <td>@item.Precio_Producto</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Producto">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Producto">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Producto">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>