@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<PracticaCampoFinal.Models.Usuario>
<h2>Usuarios</h2>

<a asp-action="Create" class="btn btn-primary">Nuevo Usuario</a>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Contraseña</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name_Usuario</td>
                <td>@item.Contra_Usuario</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_Usuario">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id_Usuario">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id_Usuario">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
