@model PracticaCampoFinal.Models.Cliente

<h2>Detalles del Cliente</h2>

<div>
    <strong>ID:</strong> @Model.Id_Cliente<br />
    <strong>Nombre:</strong> @Model.Name_Cliente<br />
    <strong>Apellido:</strong> @Model.Ape_Cliente<br />
    <strong>Teléfono:</strong> @Model.Telefono_Cliente<br />
    <strong>Email:</strong> @Model.Email_Cliente
</div>

<a asp-action="Index" class="btn btn-secondary">Volver</a>